.header {
    background: #000;

}

.header__title {
    color: #fff;
    font-size: 20px;
    padding: 10px;
 

}

.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.todo__table__header {
    padding: 10px;
    width: 10%;
    text-align: left;
    font-weight: bold;
}

.todo__alert--success {
    color: #106725;
    font-size: 16px;
    margin-bottom: 30px;
    background-color: #7fe296;
    padding: 10px;
}

.todo__content {
    padding: 60px 15px;
    max-width: 1230px;
    margin: 0 auto;


}

.todo__form {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.todo__form__item {
    width: 80%;

}

.todo__form__input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.todo__form__button {
    width: 10%;
}

.todo__form__submit {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.todo__table {
    margin: 30px auto;
    width: 70%;
    text-align: left;
}

.todo__table__content {

   border-bottom: 1px solid #ddd;

}

.todo__table__list {
    width: 100%;
    margin: 20px auto;
    padding: 10px 15px;

}

.update__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.update__form__item {
    width: 80%;
    line-height: 50%;
}

.update__form__item__input {
    width: 100%;
    outline: none;
    border: none;
}




